.cache
*.egg-info
*.py[oc]
*~
.*.sw?
.coverage
.idea
.ipynb_checkpoints
.mypy_cache
.netlify
.pytest_cache
.venv
.vscode
Pipfile.lock
__pycache__/
archive.zip
build/
coverage.xml
dist/
docs.zip
docs_build
env
env3.*
htmlcov
log.txt
site
test.db
venv
wheels/
model_cache/
.DS_Store
/training/
profile.dat